/* Variables */
:root {
  /* ### Primary */

  --StrongCyan: hsl(171, 66%, 44%);
  --LightBlue: hsl(233, 100%, 69%);

  --DarkGrayishBlue: hsl(210, 10%, 33%);
  --GrayishBlue: hsl(201, 11%, 66%);
}
/* Reset */
html,
body,
li,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Basic */
body {
  font-size: 16px;
  font-family: sans-serif;
  box-sizing: border-box;
}
ul,
a {
  list-style: none;
  text-decoration: none;
}
h1,
h2 {
  font-size: 1.6em;
  color: #444;
}
p,
a {
  font-size: 1.1em;
}
p {
  color: #777;
  line-height: 1.6em;
}
section {
  height: 100%;
}
.container {
  max-width: 1240px;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
img {
  width: 100%;
}

/* Main styling */

.logo-box {
  padding: 100px;
}
.logo {
  width: 40%;
}
.header {
  background: url(./images/bg-header-desktop.png) border-box no-repeat;
  height: 100%;
  width: 100%;
}

.info {
  padding: 20px;
}
.btn-group {
  padding: 20px 0;
}
.btn {
  background-color: var(--StrongCyan);
  cursor: pointer;
  height: 50px;
  color: white;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 1px 4px var(--DarkGrayishBlue);
}
.btn:last-child {
  background-color: var(--LightBlue);
}
.btn:hover {
  box-shadow: unset 1px 2px var(--DarkGrayishBlue);
}
.svg {
  width: 50px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.brands {
  max-width: 120px;
  width: 100%;
  display: block;
  align-self: center;
  margin: 20px;
}
footer {
  background-color: #efc;
  font-size: 18px;
  font-weight: bold;
  color: #777;
}
.footer-logo {
  width: 50px;
  margin: 30px;
}

footer li {
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 20px;
}
.footer-socials img {
  width: 20px;
  margin: 30px;
  cursor: pointer;
}
@media screen and (min-width: 420px) {
  .btn-group {
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .btn {
    padding: 6px 12px;
  }
  .flex {
    display: flex;
    flex-direction: row;
  }
  /* .desktop .right {
    float: right;
  } */
  .desktop .info {
    max-width: 100%;
    padding: 0;
  }
  .desktop {
    margin: 50px auto;
    justify-content: center;
    align-items: center;
  }
  .left {
    flex: 5;
  }
  .right {
    flex: 5;
  }
  .left-img {
    max-width: 600px;
  }
  footer img {
    width: 15px;
  }
  footer .container {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }
  footer .container ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  footer li {
    margin: 10px;
  }
}
