* {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(208, 16%, 84%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  --text-color: #777;
  --header-color: #444;
  --width: 345px;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background: linear-gradient(
    var(--Desaturated-Dark-Blue),
    var(--Grayish-Blue)
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13x;
}
.wraper {
  max-width: 1000px;
  width: 900px;
  box-shadow: 1px 1px 10px #747e88;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 204, 245);
}
.card {
  background-color: var(--Light-Grayish-Blue);
  width: 500px;
  height: 200px;
  display: flex;
  border-radius: 7px;
  font-family: sans-serif;
  box-shadow: 1px 1px 10px 1px #747e88;
}
.c.left {
  width: 30%;
  /* flex: 3; */
}
.c-right {
  width: 70%;
  /* flex: 9; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.c-right h4 {
  font-size: 14px;
  color: var(--header-color);
}
.lead {
  color: var(--text-color);
  font-size: 11px;
}
.c-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.attribution {
  text-decoration: none;
  color: inherit;
  padding: 20px;
}
.profile {
  display: flex;
  align-items: center;
  position: relative;
}
.profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.details {
  font-size: 13px;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  width: 100%;
  position: relative;
}
.details-lead strong {
  color: var(--header-color);
}
.details-lead {
  font-size: 13px;
}
.share {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--Very-Dark-Grayish-Blue);
}
.share:hover {
  background-color: #999;
}

.share img {
  width: 15px;
  height: 15px;
  color: aliceblue;
}
.overlay {
  position: absolute;
  width: 250px;
  height: 50px;
  padding: 0 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: -66px;
  right: -105px;
  border-radius: 10px;
  background-color: var(--Very-Dark-Grayish-Blue);
}
.overlay span {
  color: rgb(177, 179, 180);
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
}
.overlay img {
  color: #345;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.overlay::after {
  content: "";
  bottom: -10px;
  position: absolute;
  transform: rotate(45deg);
  background: var(--Very-Dark-Grayish-Blue);
  width: 20px;
  height: 20px;
}
.hide {
  display: none;
  transition: all 1s ease;
}
@media screen and (max-width: 411px) {
  .wraper {
    width: 100%;
    height: 100%;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: var(--width);
    height: 540px;
    border-radius: 5px;
    background-color: antiquewhite;
  }
  .c-right {
    width: var(--width);
    padding: 0;
    margin: 0;
  }
  .c-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0px;
  }
  .c-right {
    width: 100%;
    position: relative;
  }
  .c-right h4 {
    padding: 20px;
    font-size: 18px;
  }
  .lead,
  .profile {
    padding: 10px 20px;
    font-size: 18px;
  }
  .profile {
    padding: 17px 20px;
    margin-top: 20px;
  }
  .details-lead {
    font-size: 18px;
  }
  .share {
    z-index: 99;
    margin-top: 20px;
    background-color: #777;
  }
  .overlay {
    position: absolute;
    justify-content: flex-start;
    width: 335px;
    height: 70px;
    border-radius: 0;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    right: -20px;

    top: 0px;
  }
  .overlay img {
    padding: 0 20px;
  }
  .overlay::after {
    content: "";
    display: none;
  }
  .hide {
    display: none;
  }
}
